@tailwind base;
@tailwind components;
@tailwind utilities;

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.detail, .detail-image {
  min-width: 500px;
}