@tailwind base;
@tailwind components;
@tailwind utilities;

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.detail-image {
  min-width: 400px;
}

.comment-section {
  min-width: 350px;
}

.detail {
  padding-left: 15rem;
  padding-right: 15rem;
}
